.about-container
    width: 40rem
    margin: 10rem auto 0

    h2
        font-size: 2.4rem
        margin: 0 0 2rem 0

.about-image
    position: relative

    img
        width: 100%
        height: auto
        margin-bottom: 4rem

.about-text

    p
        margin: 4rem 0
        font-size: 1.4rem
        line-height: 2.2rem

.about-bottom-container
    display: flex
    margin-bottom: 2rem

.about-email
    flex-grow: 1

    a
        font-size: 1.4rem
        font-weight: bold

.about-social
    text-align: right

    a
        font-size: 1.2rem
        display: block
        padding: 0.6rem
