.tags-container
    width: 40rem
    margin: 0 auto
    text-align: center

    .tag-toggle
        font-size: 2rem
        padding: 1rem
        user-select: none
        cursor: pointer

    .all-tags-container
        display: none

    p
        font-size: 1.2rem
        font-weight: bold

    a
        font-size: 1.2rem
        margin: 0 1rem 0 0
        padding-bottom: 0.2rem
        line-height: 3rem

    .tag-all-tags
        border-bottom: 0.24rem solid $black

.timeline-container
    position: relative
    width: 36rem
    min-height: 10rem
    margin: 0 auto
    top: 4.5rem

.timeline-col-1
    margin-left: 0rem

.timeline-col-2
    margin-left: 12rem

.timeline-col-3
    margin-left: 24rem
