---
import syntheticWander1 from '../projects/synthetic-wander/synthetic-wander-1.jpg'
import syntheticWander2 from '../projects/synthetic-wander/synthetic-wander-2.jpg'
import syntheticWander3 from '../projects/synthetic-wander/synthetic-wander-3.jpg'
import ExternalLink from '../components/ExternalLink.astro'
import { ProjectsSphereWrapper } from '../components/projectsSphere/ProjectsSphereWrapper'
import ScrollDownButton from '../components/ScrollDownButton.astro'
import Stack, { type Item } from '../components/stack/Stack.astro'
import '../global.css'

const items: Item[] = [
  {
    type: 'image',
    src: syntheticWander1,
    alt: 'Installation setup, showing digital routing tool and pen plotter.',
  },
  {
    type: 'image',
    src: syntheticWander2,
    alt: 'Multiple plotted route cards.',
  },
  {
    type: 'image',
    src: syntheticWander3,
    alt: 'Penplotter in action, drawing a route on a card.',
  },
]
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Cas de Rooij - creative web developer</title>
  </head>
  <body class="bg-bg">
    <header
      class="relative mx-auto h-[100dvh] w-full max-w-screen md:h-[800px] md:max-h-[100dvh] md:w-[1200px]"
    >
      <ProjectsSphereWrapper client:only="react" />
      <h1
        class="text-purple pointer-events-none absolute top-0 left-0 flex p-4 font-mono text-6xl leading-12 md:text-6xl"
      >
        creative <br />web developer
      </h1>
      <ScrollDownButton />
    </header>

    <main id="main-content" class="my-32 p-4">
      <section class="flex flex-col items-center">
        <div class="max-w-[40rem] text-lg">
          <h2 class="text-purple mb-4 font-mono text-4xl">About me</h2>
          <p class="text-gray-700">
            My name is Cas, and I've been working as a web developer since 2018.
            With a background in design, I like to solve problems by blending
            technology with creativity. I'm passionate about using the web as an
            accessible canvas for interaction, storytelling, and creativity.
            After studying interaction design, I've developed my skills in web
            technologies to transform concepts into reality. I thrive at the
            intersection of user experience, design, and technology, aiming for
            solutions that are both functional and effective. I enjoy crafting
            prototypes and sketches, and love experimenting with user
            interactions during implementation.
          </p>
          <div class="mt-5 flex gap-2">
            <ExternalLink url="https://github.com/casderooij"
              >Github</ExternalLink
            >
            <ExternalLink url="https://bsky.app/profile/casderooij.nl"
              >Bluesky</ExternalLink
            >
            <ExternalLink
              url="https://www.linkedin.com/in/cas-de-rooij-86374861/"
              >LinkedIn</ExternalLink
            >
          </div>
        </div>
      </section>

      <section class="grid place-content-center pt-24">
        <div class="flex flex-col-reverse gap-14 pt-20 md:flex-row">
          <div>
            <h2 class="text-purple mb-4 font-mono text-2xl">
              Synthetic Wander
            </h2>
            <p class="text-gray-700 md:max-w-80">
              Installation made for an Open Call at Tante Netty, Eindhoven.
              Inspired by wandering through neighbourhoods, I developed an
              algorithm that generates routes by making random choices at each
              intersection it encounters on a map. This route is then plotted on
              a small card for the user to take and explore the neighbourhood.<br
              /><br />
              The project was showcased during the Dutch Design Week in 2021.
            </p>
          </div>
          <div class="relative mx-auto px-8 md:mx-0 md:w-96 md:px-0">
            <Stack type="circle" items={items} />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
