---
import '../global.css'
import { type ProjectItem } from '../components/projectsSphere/ProjectsSphereScene'
import { ProjectsSphereWrapper } from '../components/projectsSphere/ProjectsSphereWrapper'

const media: ProjectItem[] = [
  {
    type: 'video',
    url: 'https://casderooij.nl/media/pages/artifacts/marching-squares/80f96d04dd-1752743595/marching-squares.mp4',
  },
  {
    type: 'video',
    url: 'https://casderooij.nl/media/pages/artifacts/green-hills/5713eae94f-1752694913/green-hills.mp4',
  },
  {
    type: 'video',
    url: 'https://casderooij.nl/media/pages/artifacts/running-horses/cbc5712bb9-1752683967/running-horses.mp4',
  },
  {
    type: 'video',
    url: 'https://casderooij.nl/media/pages/artifacts/lang-stack/060c006187-1752680354/lang-stack-recording.mp4',
  },
  {
    type: 'video',
    url: 'https://casderooij.nl/media/pages/artifacts/lang-stack-cli/update-1/b05ca7a2fc-1753112231/screen-recording.mp4',
  },
  {
    type: 'video',
    url: 'https://casderooij.nl/media/pages/artifacts/sliding-ui/9b1a9c1afc-1753260642/sliding-ui-2.mp4',
  },
  {
    type: 'video',
    url: 'https://casderooij.nl/media/pages/artifacts/marching-squares/lowres/f4dcc90cd6-1754575657/lowres.mp4',
  },
  {
    type: 'video',
    url: 'https://casderooij.nl/media/pages/artifacts/organic-charts/multiple/98695dd619-1756302699/screen-recording-2025-08-22-at-16.02.32.mp4',
  },

  {
    type: 'image',
    url: 'https://casderooij.nl/media/pages/artifacts/ping-pong/9dca1dfe09-1753084826/ping-pong-sketch-400x.webp',
  },
]
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header class="relative">
      <ProjectsSphereWrapper client:only="react" media={media} />
      <h1 class="absolute top-4 left-4 text-6xl text-blue-600 uppercase">
        —— creative <br />web developer
      </h1>
    </header>
  </body>
</html>
