---
import ExternalLink from '../components/ExternalLink.astro'
import { ProjectsSphereWrapper } from '../components/projectsSphere/ProjectsSphereWrapper'
import ScrollDownButton from '../components/ScrollDownButton.astro'
import Stack from '../components/stack/Stack.astro'
import '../global.css'
import syntheticWander1 from '../projects/synthetic-wander/synthetic-wander-1.jpg'
import syntheticWander2 from '../projects/synthetic-wander/synthetic-wander-2.jpg'
import syntheticWander3 from '../projects/synthetic-wander/synthetic-wander-3.jpg'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="preload"
      href="/fonts/hedvig-letters-sans-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/whois-mono.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <title>Cas de Rooij - creative web developer</title>
  </head>
  <body class="bg-bg">
    <header
      class="relative mx-auto h-[100dvh] w-full max-w-screen md:h-[800px] md:max-h-[100dvh] md:w-[1200px]"
    >
      <ProjectsSphereWrapper client:only="react" />
      <h1
        class="text-accent pointer-events-none absolute top-0 left-0 flex p-4 font-mono text-6xl leading-12 md:text-6xl"
      >
        creative <br />web developer
      </h1>
      <ScrollDownButton />
    </header>

    <main
      id="main-content"
      class="mx-auto my-32 flex max-w-[760px] flex-col gap-44 p-4"
    >
      <section class="flex flex-col">
        <h2 class="text-accent mb-4 font-mono text-3xl md:text-5xl">
          About me
        </h2>
        <div class="flex flex-col gap-6 md:w-2/3">
          <p class="text-xl">
            I am a web developer working at the intersection of user experience,
            design and technology. Since 2018, I've been building solutions such
            as booking flows, data dashboards, micro sites, 3D animations, and
            much more.
          </p>

          <p>
            I gain knowledge from working on professional projects as well as
            from personal experiments. The insights and experiences I gain from
            personal projects often flow back into my client-based work.
          </p>

          <p>
            I find the web a beautiful, accessible canvas for telling stories,
            giving insights and providing tools. Lots of things can be build for
            the web, and I'm here to do just that!
          </p>
        </div>

        <div class="mt-5 flex gap-2">
          <ExternalLink url="https://github.com/casderooij">Github</ExternalLink
          >
          <ExternalLink url="https://bsky.app/profile/casderooij.nl"
            >Bluesky</ExternalLink
          >
          <ExternalLink url="https://www.linkedin.com/in/cas-de-rooij-86374861/"
            >LinkedIn</ExternalLink
          >
        </div>
      </section>

      <section class="grid place-content-center">
        <h2 class="text-accent mb-24 font-mono text-3xl md:text-5xl">Work</h2>

        <div class="flex flex-col gap-[12rem]">
          <div class="flex flex-col-reverse gap-4 md:flex-row md:gap-14">
            <div class="flex-1">
              <h3 class="text-accent mb-4 font-mono text-3xl">
                Synthetic Wander
              </h3>
              <div class="flex flex-col gap-6">
                <p>
                  This installation invites participants to wander and discover
                  the city through exploration. An algorithm generates a random
                  route on a map, which is then plotted onto a physical card for
                  users to follow.
                </p>
                <p>
                  The installation was developed during an Open Call at Tante
                  Netty in Eindhoven and was showcased at Dutch Design Week
                  2021.
                </p>
              </div>
            </div>
            <div class="relative flex-1 px-2">
              <Stack
                type="circle"
                items={[
                  {
                    type: 'image',
                    src: syntheticWander1,
                    alt: 'Installation setup, showing digital routing tool and pen plotter.',
                  },
                  {
                    type: 'image',
                    src: syntheticWander2,
                    alt: 'Multiple plotted route cards.',
                  },
                  {
                    type: 'image',
                    src: syntheticWander3,
                    alt: 'Penplotter in action, drawing a route on a card.',
                  },
                  {
                    type: 'video',
                    src: '/synthetic-wander-route-algo.mp4',
                    orientation: 'landscape',
                  },
                ]}
                client:idle
              />
            </div>
          </div>

          <div class="flex flex-col-reverse gap-4 md:flex-row md:gap-14">
            <div class="flex-1">
              <h3 class="text-accent mb-4 font-mono text-3xl">CitizenM</h3>
              <div class="flex flex-col gap-6">
                <p>
                  At kesselskramer.digital I developed a scrollytelling website
                  for a creative hotel chain, implementing numerous animations
                  that combine 2D and 3D assets.
                </p>
              </div>
            </div>
            <div class="relative flex-1 px-2">
              <Stack
                type="circle"
                items={[
                  {
                    type: 'video',
                    src: '/citizenm-design-1.mp4',
                    orientation: 'portrait',
                  },
                  {
                    type: 'video',
                    src: '/citizenm-design-2.mp4',
                    orientation: 'landscape',
                  },
                ]}
                client:idle
              />
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
