---
import '../global.css'
import { type ProjectItem } from '../components/projectsSphere/ProjectsSphereScene'
import { ProjectsSphereWrapper } from '../components/projectsSphere/ProjectsSphereWrapper'

const media: ProjectItem[] = [
  {
    type: 'video',
    url: '/project-sphere-media/diffusion.mp4',
    aspect: 1,
    title: 'Diffusion algorithm',
  },
  {
    type: 'video',
    url: '/project-sphere-media/falling-words.mp4',
    aspect: 1.75,
    title: 'Falling words',
  },
  {
    type: 'video',
    url: '/project-sphere-media/green-hills.mp4',
    aspect: 1,
    title: 'Green hills',
  },
  {
    type: 'video',
    url: '/project-sphere-media/grid.mp4',
    aspect: 1,
    title: 'Pattern generator',
  },
  {
    type: 'video',
    url: '/project-sphere-media/idomeneo.mp4',
    aspect: 1.77,
    title: 'Idomeneo digital poster',
  },
  {
    type: 'video',
    url: '/project-sphere-media/marching-squares-lowres.mp4',
    aspect: 1,
    title: 'Marching squares lowres',
  },
  {
    type: 'video',
    url: '/project-sphere-media/marching-squares.mp4',
    aspect: 1,
    title: 'Marching squares',
  },
  {
    type: 'video',
    url: '/project-sphere-media/noise-gallery.mp4',
    aspect: 1,
    title: 'Noise gallery',
  },
  {
    type: 'video',
    url: '/project-sphere-media/number-grid.mp4',
    aspect: 1,
    title: 'Number grid',
  },
  {
    type: 'video',
    url: '/project-sphere-media/organic-chart.mp4',
    aspect: 1,
    title: 'Organic chart',
  },
  {
    type: 'video',
    url: '/project-sphere-media/sliding-ui.mp4',
    aspect: 1,
    title: 'Sliding UI',
  },
  {
    type: 'video',
    url: '/project-sphere-media/window.mp4',
    aspect: 1,
    title: 'CSS window',
  },
  {
    type: 'image',
    url: 'https://placehold.co/10',
    aspect: 1,
    title: 'One minute capture',
  },
]
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Cas de Rooij - creative web developer</title>
  </head>
  <body class="bg-bg">
    <header class="relative h-[100dvh] w-screen">
      <ProjectsSphereWrapper client:only="react" media={media} />
      <h1
        class="text-purple absolute top-4 left-4 text-4xl uppercase md:text-6xl"
      >
        —— creative <br />web developer
      </h1>
      <button
        id="scroll-down-button"
        class="text-purple absolute bottom-4 left-1/2 -translate-x-1/2 rounded bg-white/60 px-4 py-2 text-xl backdrop-blur-lg md:hidden"
        >scroll down</button
      >
    </header>

    <main id="main-content" class="my-32 p-4">
      <section class="flex flex-col items-center">
        <div class="max-w-[40rem] text-lg">
          <p class="text-gray-600">
            I am Cas, a web developer since 2018, with a design background that
            enables me to solve complex problems by merging technology and
            creativity. I'm passionate about using the web as an accessible
            canvas for interaction, storytelling, and creativity. After studying
            interaction design, I've developed my skills in web technologies to
            transform concepts into reality. I thrive at the intersection of
            user experience, design, and technology, aiming for solutions that
            are both functional and effective. I enjoy crafting prototypes and
            sketches, and love experimenting with user interactions during
            implementation.
          </p>
          <div class="text-purple mt-2 flex gap-4 underline">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/casderooij">Github</a
            >
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://bsky.app/profile/casderooij.nl">Bluesky</a
            >
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.linkedin.com/in/cas-de-rooij-86374861/"
              >LinkedIn</a
            >
          </div>
        </div>
      </section>
    </main>

    <script>
      const scrollDownButton = document.getElementById('scroll-down-button')
      const mainContent = document.getElementById('main-content')
      scrollDownButton?.addEventListener('click', () => {
        mainContent?.scrollIntoView({ behavior: 'smooth' })
      })
    </script>
  </body>
</html>
