---
import '../global.css'
import { type ProjectItem } from '../components/projectsSphere/ProjectsSphereScene'
import { ProjectsSphereWrapper } from '../components/projectsSphere/ProjectsSphereWrapper'

const media: ProjectItem[] = [
  {
    url: '/project-sphere-media/marching-squares.mp4',
  },
  {
    url: '/project-sphere-media/green-hills.mp4',
  },
  {
    url: '/project-sphere-media/diffusion.mp4',
  },
  {
    url: '/project-sphere-media/falling-words.mp4',
  },
  {
    url: '/project-sphere-media/grid.mp4',
  },
  {
    url: '/project-sphere-media/idomeneo.mp4',
  },
  {
    url: '/project-sphere-media/marching-squares-lowres.mp4',
  },
  {
    url: '/project-sphere-media/noise-gallery.mp4',
  },
  {
    url: '/project-sphere-media/number-grid.mp4',
  },
  {
    url: '/project-sphere-media/organic-chart.mp4',
  },
  {
    url: '/project-sphere-media/sliding-ui.mp4',
  },
  {
    url: '/project-sphere-media/synthetic-wander.mp4',
  },
  {
    url: '/project-sphere-media/window.mp4',
  },
]
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header class="relative">
      <ProjectsSphereWrapper client:only="react" media={media} />
      <h1 class="absolute top-4 left-4 text-6xl text-blue-600 uppercase">
        —— creative <br />web developer
      </h1>
    </header>
  </body>
</html>
