---
import ExternalLink from '../components/ExternalLink.astro'
import { ProjectsSphereWrapper } from '../components/projectsSphere/ProjectsSphereWrapper'
import ScrollDownButton from '../components/ScrollDownButton.astro'
import '../global.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Cas de Rooij - creative web developer</title>
  </head>
  <body class="bg-bg">
    <header class="relative h-[100dvh] w-screen">
      <ProjectsSphereWrapper client:only="react" />
      <h1
        class="text-purple pointer-events-none absolute top-0 left-0 flex p-4 text-6xl leading-12 md:text-8xl md:leading-20"
      >
        creative <br />web <br />developer
      </h1>
      <ScrollDownButton />
    </header>

    <main id="main-content" class="my-32 p-4">
      <section class="flex flex-col items-center">
        <div class="max-w-[40rem] text-lg">
          <p class="font-mono leading-6 text-gray-600">
            My name is Cas, and I've been working as a web developer since 2018.
            With a background in design, I am empowered to solve complex
            problems by blending technology with creativity. I'm passionate
            about using the web as an accessible canvas for interaction,
            storytelling, and creativity. After studying interaction design,
            I've developed my skills in web technologies to transform concepts
            into reality. I thrive at the intersection of user experience,
            design, and technology, aiming for solutions that are both
            functional and effective. I enjoy crafting prototypes and sketches,
            and love experimenting with user interactions during implementation.
          </p>
          <div class="mt-5 flex gap-2">
            <ExternalLink url="https://github.com/casderooij"
              >Github</ExternalLink
            >
            <ExternalLink url="https://bsky.app/profile/casderooij.nl"
              >Bluesky</ExternalLink
            >
            <ExternalLink
              url="https://www.linkedin.com/in/cas-de-rooij-86374861/"
              >LinkedIn</ExternalLink
            >
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
