@property --angle {
  syntax: '<angle>';
  initial-value: 10deg;
  inherits: false;
}

.stack.circle {
  --radius: var(--space);
  --offset: 80deg;

  .stack-item {
    transform: translate(
      calc(cos(var(--angle)) * var(--radius)),
      calc(sin(var(--angle)) * var(--radius))
    );

    transition:
      --angle 0.8s var(--easing),
      opacity 0.3s ease-in-out;
  }
}

.stack.wave {
  --offset: 20deg;

  --spacing: 20px; /* Adjust this value based on how spread out you want the items to be horizontally */
  --amplitude: 30px; /* Adjust this value to control the height of the wave's peaks and troughs */

  .stack-item {
    transform: translate(
      calc(var(--stack-i) * var(--spacing)),
      calc(sin(var(--angle)) * var(--amplitude))
    );

    transition:
      transform 0.8s var(--easing),
      opacity 0.3s ease-in-out;
  }
}

.stack {
  --easing: cubic-bezier(0.22, 1, 0.36, 1);

  display: grid;
  grid-template-areas: 'stack';

  .stack-item {
    --angle: calc(
      var(--stack-i) * calc(360deg / var(--total-items)) + var(--offset)
    );

    width: calc(100% - var(--space));
    aspect-ratio: var(--aspect-ratio);

    grid-area: stack;
    z-index: calc(var(--total-items) - var(--stack-i));

    &.fading-out {
      opacity: 0;
    }

    &.no-transition {
      transition: none;
    }

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
