@property --angle {
  syntax: '<angle>';
  initial-value: 10deg;
  inherits: false;
}

.stack-container {
  --space: 1em;

  position: relative;
}

.stack.circle {
  --radius: var(--space);
  --offset: 80deg;

  .stack-item {
    transform: translate(
      calc(cos(var(--angle)) * var(--radius)),
      calc(sin(var(--angle)) * var(--radius))
    );

    transition:
      --angle 0.8s var(--easing),
      opacity 0.3s ease-in-out;
  }
}

.stack.wave {
  --offset: 20deg;

  --spacing: 20px; /* Adjust this value based on how spread out you want the items to be horizontally */
  --amplitude: 30px; /* Adjust this value to control the height of the wave's peaks and troughs */

  .stack-item {
    transform: translate(
      calc(var(--stack-i) * var(--spacing)),
      calc(sin(var(--angle)) * var(--amplitude))
    );

    transition:
      transform 0.8s var(--easing),
      opacity 0.3s ease-in-out;
  }
}

.stack {
  --easing: cubic-bezier(0.22, 1, 0.36, 1);

  display: grid;
  grid-template-areas: 'stack';
  /* margin-left: calc(-2 * var(--space)); */

  .stack-item {
    --angle: calc(
      var(--stack-i) * calc(360deg / var(--total-items)) + var(--offset)
    );

    width: calc(100% - var(--space));
    aspect-ratio: var(--aspect-ratio);

    grid-area: stack;
    z-index: calc(var(--total-items) - var(--stack-i));

    &.fading-out {
      opacity: 0;
    }

    &.no-transition {
      transition: none;
    }

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }

    img,
    video {
      width: 100%;
      height: auto;
      object-fit: contain;
      display: block;
    }
    video {
      margin-bottom: -2px;
    }
  }

  &.single-slide {
    margin-left: 0;

    .stack-item {
      --angle: 0;
      width: 100%;
      transform: translate(0, 0);
    }
  }

  .indicator {
    position: absolute;
    bottom: -1em;
    right: 0;
    z-index: calc(var(--total-items) + 1);
    padding: 0.2em 1em;
    border-radius: 1000px;
    pointer-events: none;
    background-color: white;
    box-shadow: var(--shadow);

    font-family: var(--font-mono);
    font-size: 10px;
  }
}
