

.stack {
  --space: 2rem;
}

.stack.circle {
  --radius: var(--space);
  --offset: -80deg;

  .stack-item {
    transform: translate(
      calc(cos(var(--angle)) * 1 * var(--radius)),
      calc(sin(var(--angle)) * -1 * var(--radius))
    );

    transition:
      opacity 0.2s ease-in-out;
  }
}

.stack.wave {
  --offset: 20deg;

  --spacing: 20px; /* Adjust this value based on how spread out you want the items to be horizontally */
  --amplitude: 30px; /* Adjust this value to control the height of the wave's peaks and troughs */

  .stack-item {
    transform: translate(
      calc(var(--stack-i) * var(--spacing)),
      calc(sin(var(--angle)) * var(--amplitude))
    );

    transition:
      transform 0.8s var(--easing),
      opacity 0.3s ease-in-out;
  }
}

.stack {
  display: grid;
  grid-template-areas: 'stack';

  .stack-item {
    width: calc(100% - var(--space));
    padding-left: var(--space);
    /* aspect-ratio: var(--aspect-ratio); */

    grid-area: stack;
    z-index: calc(var(--total-items) - var(--stack-i));

    &.fading-out {
      opacity: 0;
    }

    &.no-transition {
      transition: none;
    }

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
